# Python cache files
__pycache__/
*.py[cod]
*$py.class

# CSV files
*.csv

# Distribution / packaging
dist/
build/
*.egg-info/
# IDE specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints